# This file is for unifying the coding style for different editors and IDEs.
# More information at http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

# Override for Makefile
[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.{yml, yaml}]
indent_size = 2

[{Dockerfile,Dockerfile.template.erb,Dockerfile.sample}]
indent_style = space
indent_size = 4

[COMMIT_EDITMSG]
max_line_length = 0
